<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- css link -->
    <link rel="stylesheet" href="css/style.css">
    <!-- google icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- icons cdn link -->
   <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
   <!-- favicon likn -->
   <link rel="icon" href="prayer.png">
    <title>prayer-app</title>
  </head>
